/* General Layout */

#page-container {
	font: Arial, Verdana;
	margin: 0 5% 0 5%;
}
header {
	margin-bottom: 50px;
}
#inner-container {
	margin: 0 5% 0 5%;
}
#tag-cloud-box{
	float: left;
	width: 70%;
}
#topic-detail-box{
	float: right;
	width: 30%;
}

/* Tag Cloud */
.tag-in-cloud{
	cursor: pointer;
}

/* Volume classes */
.volume0 {
	font-size: 12px;
}
.volume1 {
	font-size: 18px;
}
.volume2 {
	font-size: 24px;
}
.volume3 {
	font-size: 30px;
}
.volume4 {
	font-size: 36px;
}
.volume5 {
	font-size: 42px;
}


/* Sentiment classes */
.positive-text {
	color: springgreen;
}
.neutral-text{
	color: grey;
}
.negative-text{
	color: tomato;
}

