/* General Layout */

.page-container {
	font: Arial, Verdana;
	margin: 0 5% 0 5%;
}
.page-header {
	margin-bottom: 50px;
}
.content-container {
	margin: 0 5% 0 5%;
}
.left-container {
	float:left;
	width:70%;
}
.right-container {
	float:right;
	width:30%;
}